name: Build

on: [push]

jobs:
  build:
    strategy:
      matrix:
        node:
          - 20
          - 22
          - 24
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"
      - name: yarn install, xo, and test
        run: |
          yarn
          yarn test
          node index.js vintagesucks
