name: Build

on: [push]

jobs:
  build:
    strategy:
      matrix:
        node:
          - 20
          - 22
          - 24
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
      - name: npm install, xo, and test
        run: |
          npm install
          npm test
          node index.js vintagesucks
